body{
    background-image: url('https://images7.alphacoders.com/114/1144579.jpg');
    background-size: cover;
}

h1{
    color: rgb(224, 54, 54);
}

h2{
    color: rgb(224, 54, 54);
    background-color: rgb(19, 18, 18, .4);
}

img{
    object-fit: cover;
    height: 400px;
}

.bc-text{
    background-color: rgb(19, 18, 18, .4);
    color: white;
}
